
<div id="wrapper">
<h1>Balance Sheet</h1>

<%= link_to 'New Account', new_account_path %>&nbsp
<%= link_to 'New Transaction', new_transaction_path %>&nbsp
<%= link_to 'Transaction Log', transactions_path %>&nbsp
<br/>
<br/>
<br/>

<table id="keywords" cellspacing="1" cellpadding="1">



  <tr>
    <th><span style="float:left;font-weight:bold;">Name</span></th>
    <th><span style="float:left;font-weight:bold;">Type</span></th>
    <th><span style="float:left;font-weight:bold;">Amount</span></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td class="lalign"><%= account.name %></td>
    <td class="lalign"><%= account.accounttype %></td>
    <td class="lalign"><%= account.amount %></td>
    <td class="lalign"><%= link_to 'Show', account %></td>
    <td class="lalign"><%= link_to 'Edit', edit_account_path(account) %></td>
  </tr>
<% end %>
</table>


</div>
